
@media screen and (min-width : 1441px)
{
    .div-login {
        margin-top: 25vh;
        margin-left: 45%;
    }
    
    
    body { 
        background-color: rgb(233, 233, 233);
        height: 100vh;
        margin: 0;
        overflow-y: hidden;
    }
    
    .App {
        height: 100vh;
    }
    
    
    .dashboard { 
        width: 100%;
    }
    
    .centered-div {
        width: 1398.640px;        
        background: url(https://www.toptal.com/designers/subtlepatterns/patterns/memphis-mini.png );
        background-repeat: repeat;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 1%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 7px;
        -moz-box-shadow:    2px -2px 5px 1px rgba(0, 0, 0, 0.7);
        -webkit-box-shadow: 2px -2px 5px 1px rgba(0, 0, 0, 0.7);
        box-shadow:         0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2) ;
        position: relative;
    }
    

    
    .user-details-dash { 
        background-color: #efefef;
        height: 40px;
        padding: 10px;
        font-weight: bold;
    }

    
    .div-input{ 
        background-color: white;
        padding-bottom: 4px;
        padding-top: 4px;
        margin-top: 0px;
        padding-left: 5%;
        padding-right: 5%;
        display: grid;
        grid-template-columns: 13fr 1fr;
        grid-column-gap: 5px;
        border-bottom-right-radius: 7px;
        background-color: #efefef;
        border-left: 1px solid lightgrey;
    }
    
     
    .send-button:hover { 
        cursor: pointer;
    }
 
    .MuiFormControl-marginDense{
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }
    
       
    .div-button{
        margin-top: 7px;
        margin-left: 10px;
    }

    .div-chat { 
        height: 722px;
        overflow: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column-reverse;
        padding: 30px;
    }
    
    .div-message { 
        /* background-color: red; */
        margin-right: 15px;
        /* border: 1px solid black; */
        margin-top: 1px;    
        text-align: right;
        display: block;
        position: relative;
    }

    .span-message{ 
        border-radius: 15px;
        border: 1px solid #efefef;
        background-color: rgba(0, 255, 255, 0);
        padding: 15px;
        background-color: #efefef;
        display: inline-block;
        font-weight: lighter;
        position: relative;
        height: auto;
        word-wrap: break-word;
        text-align: left;
        max-width: 70%;
    }

    .left-component{
        height: 95vh;
        width: 35%;
        border-right: 1px solid #efefef;
        background-color: #efefef;

    
    }
    .channels-list{ 
        height: 88.5vh;
        width: 100%;
        color: black;
        list-style-type: disc;
        overflow: scroll;
        overflow-x: hidden;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }
    
    .owner { 
        width: 94.7%;
        height: 40px;
        background-color: #efefef;
        border-right: 1px solid lightgrey;
        padding: 10px;
        font-weight: bold;
    }
    
    
    .channel
    {
        height: 20px;
        text-align: center;
        background-color: white;
        align-items: center;
        cursor: pointer;
        border-top: 1px solid grey;
        padding: 20px;
        font-weight: bold;
    }

    .channel:last-child{
        border-bottom: 1px solid grey;
    }
    
    .channel:hover{
        background-color: rgba(201, 201, 201, 0.993);
    }

    /* width */
    .channels-list::-webkit-scrollbar {
        width: 7px;
    }
      
    /* Track */
      .channels-list::-webkit-scrollbar-track {
        background: #ffffff; 
    }
       
    /* Handle */
    .channels-list::-webkit-scrollbar-thumb {
        background: #888; 
    }
      
    /* Handle on hover */
    .channels-list::-webkit-scrollbar-thumb:hover {
        background: rgb(126, 125, 125); 
    }
}

@media screen and (max-width : 1440px)
{
    .App {
        height: 100vh;
    }
    
    .centered-div {
        width: 100%;
        background: url(https://www.toptal.com/designers/subtlepatterns/patterns/memphis-mini.png );
        background-repeat: repeat;
        display: flex;
        flex-direction: row;
        height: 100%;
        margin: 0;
        position: relative;

    }
    .dashboard { 
        width: 100%;
    }

    
    body { 
        background-color: rgb(233, 233, 233);
        height: 100vh;
        margin: 0;
        overflow-y: hidden;
    }
    
/* 
    .centered-div {
        width: 1398.640px;        background: url(https://www.toptal.com/designers/subtlepatterns/patterns/memphis-mini.png );
        background-repeat: repeat;
        display: flex;
        flex-direction: row;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 7px;
        -moz-box-shadow:    2px -2px 5px 1px rgba(0, 0, 0, 0.7);
        -webkit-box-shadow: 2px -2px 5px 1px rgba(0, 0, 0, 0.7);
        box-shadow:         0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2) ;
        position: relative;
    } */
    

    
    .user-details-dash { 
        background-color: #efefef;
        height: 60px;
    }
    
    
    .div-input{ 
        background-color: white;
        padding-bottom: 4px;
        padding-top: 4px;
        margin-top: 0px;
        padding-left: 5%;
        padding-right: 5%;
        display: grid;
        grid-template-columns: 13fr 1fr;
        grid-column-gap: 5px;
        border-bottom-right-radius: 7px;
        background-color: #efefef;
        border-left: 1px solid lightgrey;
    }
    
     
    .send-button:hover { 
        cursor: pointer;
    }
 
    .div-chat { 
        height: 88.5%;
    }


    
    .MuiFormControl-marginDense{
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }
    
       
    .div-button{
        margin-top: 7px;
        margin-left: 10px;
    }
    
    .left-component{
        height: 100vh;
        width: 35%;
        background-color: #efefef;
        min-width: 260px;
    
    }
    .channels-list{ 
        height: 93.5vh;
        width: 100%;
        color: black;
        list-style-type: disc;
        overflow: scroll;
        overflow-x: hidden;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        font-weight: bold;
    }
    
    .owner { 
        width: 99.7%;
        height: 60px;
        background-color: #efefef;
        border-right: 1px solid lightgrey;
    }
    
    
    .channel
    {
        height: 60px;
        text-align: center;
        background-color: white;
        align-items: center;
        cursor: pointer;
        border-top: 1px solid grey;
    }

    .channel:last-child{
        border-bottom: 1px solid grey;
    }
    
    .channel:hover{
        background-color: rgba(201, 201, 201, 0.993);
    }

    /* width */
    .channels-list::-webkit-scrollbar {
        width: 7px;
    }
      
    /* Track */
      .channels-list::-webkit-scrollbar-track {
        background: #ffffff; 
    }
       
    /* Handle */
    .channels-list::-webkit-scrollbar-thumb {
        background: #888; 
    }
      
    /* Handle on hover */
    .channels-list::-webkit-scrollbar-thumb:hover {
        background: rgb(126, 125, 125); 
    }
}

@media screen and (max-width: 500px)
{
    .left-component{
        display: none;
    }
}

